/* -------------------------------------------------------------------------- */
/*                              Header navigation                             */
/* -------------------------------------------------------------------------- */

.is-style-shoeshine-header-navigation,
.is-style-shoeshine-header-navigation
  .wp-block-navigation__responsive-container-open {
  text-transform: uppercase;
  font-family: var(--wp--preset--font-family--libre-franklin);
  font-weight: 500;
  font-size: var(--wp--preset--font-size--normal);
}

.is-style-shoeshine-header-navigation {
  color: var(--wp--preset--color--tertiary);
}

.is-style-shoeshine-header-navigation
  .wp-block-navigation__responsive-container-open {
  text-decoration: underline;
  text-decoration-color: var(--wp--preset--color--primary-light);
  text-decoration-thickness: var(
    --wp--custom--typography--text-decoration--thickness--normal
  );
  text-underline-offset: var(
    --wp--custom--typography--text-decoration--offset--normal
  );
}

.is-style-shoeshine-header-navigation
  .wp-block-navigation__responsive-container-open:hover {
  text-decoration-color: var(--wp--preset--color--primary);
}

.is-style-shoeshine-header-navigation a:hover {
  text-decoration: underline;
  text-decoration-color: var(--wp--preset--color--primary);
  text-decoration-thickness: var(
    --wp--custom--typography--text-decoration--thickness--normal
  );
  text-underline-offset: var(
    --wp--custom--typography--text-decoration--offset--normal
  );
}

/* -------------------------------------------------------------------------- */
/*                                 Site title                                 */
/* -------------------------------------------------------------------------- */

.is-style-shoeshine-site-title-elegant {
  font-size: inherit;
  font-weight: 700;
  font-family: var(--wp--preset--font-family--libre-franklin);
}

.is-style-shoeshine-site-title-elegant a {
  text-decoration: none;
}

.is-style-shoeshine-site-title-elegant a:hover {
  text-decoration: underline;
  text-decoration-color: var(--wp--preset--color--primary);
  text-decoration-thickness: var(
    --wp--custom--typography--text-decoration--thickness--normal
  );
  text-underline-offset: var(
    --wp--custom--typography--text-decoration--offset--normal
  );
}

/* -------------------------------------------------------------------------- */
/*                                Latest posts                                */
/* -------------------------------------------------------------------------- */

/* I don't want to use !important here, but I see no other way to do this. */
.is-style-shoeshine-latest-posts-bulleted-list {
  list-style-type: "›" !important;
  padding-left: var(--wp--custom--spacing--small) !important;
}
