/* -------------------------------------------------------------------------- */
/*                              Header navigation                             */
/* -------------------------------------------------------------------------- */

.is-style-shoeshine-header-navigation,
.is-style-shoeshine-header-navigation
  .wp-block-navigation__responsive-container-open {
  text-transform: uppercase;
  font-family: var(--wp--preset--font-family--libre-franklin);
  font-weight: 500;
  font-size: var(--wp--preset--font-size--normal);
}

.is-style-shoeshine-header-navigation {
  color: var(--wp--preset--color--tertiary);
}

.is-style-shoeshine-header-navigation
  .wp-block-navigation__responsive-container-open {
  text-decoration: underline;
  text-decoration-color: var(--wp--preset--color--primary-light);
  text-decoration-thickness: var(
    --wp--custom--typography--text-decoration--thickness--normal
  );
  text-underline-offset: var(
    --wp--custom--typography--text-decoration--offset--normal
  );
}

.is-style-shoeshine-header-navigation
  .wp-block-navigation__responsive-container-open:hover {
  text-decoration-color: var(--wp--preset--color--primary);
}

.is-style-shoeshine-header-navigation a:hover {
  text-decoration: underline;
  text-decoration-color: var(--wp--preset--color--primary);
  text-decoration-thickness: var(
    --wp--custom--typography--text-decoration--thickness--normal
  );
  text-underline-offset: var(
    --wp--custom--typography--text-decoration--offset--normal
  );
}

/* -------------------------------------------------------------------------- */
/*                                 Site title                                 */
/* -------------------------------------------------------------------------- */

.is-style-shoeshine-site-title-elegant {
  font-weight: 700;
  font-family: var(--wp--preset--font-family--libre-franklin);
}

.is-style-shoeshine-site-title-elegant a {
  text-decoration: none;
}

.is-style-shoeshine-site-title-elegant a:hover {
  text-decoration: underline;
  text-decoration-color: var(--wp--preset--color--primary);
  text-decoration-thickness: var(
    --wp--custom--typography--text-decoration--thickness--normal
  );
  text-underline-offset: var(
    --wp--custom--typography--text-decoration--offset--normal
  );
}

/* -------------------------------------------------------------------------- */
/*                                Latest posts                                */
/* -------------------------------------------------------------------------- */

.is-style-shoeshine-latest-posts-bulleted-list {
  list-style-type: "›" !important;
  padding-left: var(--wp--custom--spacing--small) !important;
}

.is-style-shoeshine-latest-posts-bulleted-list li {
  padding-inline-start: 1ch;
}

.is-style-shoeshine-latest-posts-bulleted-list li::marker {
  font-weight: bold;
  color: var(--wp--preset--color--primary);
}

.is-style-shoeshine-latest-posts-bulleted-list li:not(:first-child) {
  margin-top: var(--wp--custom--spacing--medium);
}

/* -------------------------------------------------------------------------- */
/*                                  Separator                                 */
/* -------------------------------------------------------------------------- */

hr.is-style-shoeshine-separator-dots {
  margin: var(--wp--custom--spacing--3-x-large) 0;
}

hr.is-style-shoeshine-separator-dots {
  background: none;
  border: none;
  text-align: center;
  line-height: 1;
  height: auto;
}

hr.is-style-shoeshine-separator-dots::before {
  content: "···";
  white-space: nowrap;
  color: var(--wp--preset--color--tertiary);
  font-size: var(--wp--custom--typography--font-size--3-x-large);
  font-weight: bold;
  letter-spacing: var(--wp--custom--spacing--large);
  font-family: var(--wp--preset--font-family--lora);
  padding-left: 1rem;
}

hr.is-style-shoeshine-separator-line {
  margin: calc(var(--wp--custom--spacing--3-x-large) + 1rem) 0;
  border-color: var(--wp--preset--color--tertiary);
  width: 30% !important;
  max-width: 8rem;
}

/* -------------------------------------------------------------------------- */
/*                                    List                                    */
/* -------------------------------------------------------------------------- */

ul.is-style-shoeshine-list-impact {
  list-style-type: "›";
  padding-inline-start: var(--wp--custom--spacing--small);
}

ul.is-style-shoeshine-list-impact li {
  padding-inline-start: 1ch;
}

ul.is-style-shoeshine-list-impact li::marker,
ol.is-style-shoeshine-list-impact li::marker {
  font-weight: bold;
  color: var(--wp--preset--color--primary);
}

ul.is-style-shoeshine-list-impact li:not(:first-child),
ol.is-style-shoeshine-list-impact li:not(:first-child) {
  margin-top: var(--wp--custom--spacing--medium);
}

/* -------------------------------------------------------------------------- */
/*                            Post navigation link                            */
/* -------------------------------------------------------------------------- */

.is-style-shoeshine-post-navigation-link-large-label
  .post-navigation-link__label {
  font-size: var(--wp--custom--typography--font-size--2-x-large);
  font-weight: 700;
  color: var(--wp--preset--color--primary);
}

/* -------------------------------------------------------------------------- */
/*                                    Quote                                   */
/* -------------------------------------------------------------------------- */

.is-style-shoeshine-quote-impact {
  border-left-color: var(--wp--preset--color--primary-light) !important;
}
