<!-- wp:template-part {"slug":"header","tagName":"header"} /-->

<!-- wp:group {"tagName":"main","layout":{"inherit":true},"style":{"spacing":{"margin":{"top":"var(--wp--custom--spacing--3-x-large)","right":"0","bottom":"var(--wp--custom--spacing--3-x-large)","left":"0"}}}} -->
<main
  class="wp-block-group"
  style="
    margin-top: var(--wp--custom--spacing--3-x-large);
    margin-right: 0;
    margin-bottom: var(--wp--custom--spacing--3-x-large);
    margin-left: 0;
  "
>
  <!-- wp:template-part {"slug":"not-found"} /-->

  <!-- wp:search {"label":"Search","buttonText":"Search"} /-->
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->
