<!-- wp:template-part {"slug":"header","tagName":"header"} /-->

<!-- wp:group {"tagName":"main","style":{"spacing":{"margin":{"top":"var:preset|spacing|60)"}}}} -->
<main class="wp-block-group" style="margin-top: var(--wp--preset--spacing--60)">
  <!-- wp:group {"tagName":"article"} -->
  <article class="wp-block-group">
    <!-- wp:group {"tagName":"header","layout":{"type":"constrained"},"style":{"spacing":{"blockGap":"var:preset|spacing|10"}}} -->
    <header class="wp-block-group">
      <!-- wp:post-title {"level":1} /-->
      <!-- wp:post-date /-->
    </header>
    <!-- /wp:group -->

    <!-- wp:post-content {"layout":{"type":"constrained"}} /-->
  </article>
  <!-- /wp:group -->
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->
