<!-- wp:template-part {"slug":"header","tagName":"header"} /-->

<!-- wp:group {"tagName":"main","style":{"spacing":{"margin":{"top":"var(--wp--custom--spacing--5-x-large)","right":"0","bottom":"var(--wp--custom--spacing--5-x-large)","left":"0"}}}} -->
<main
  class="wp-block-group"
  style="
    margin-top: var(--wp--custom--spacing--5-x-large);
    margin-right: 0;
    margin-bottom: var(--wp--custom--spacing--5-x-large);
    margin-left: 0;
  "
>
  <!-- wp:group {"tagName":"article"} -->
  <article class="wp-block-group">
    <!-- wp:group {"tagName":"header","layout":{"inherit":true}} -->
    <header class="wp-block-group"><!-- wp:post-title {"level":1} /--></header>
    <!-- /wp:group -->

    <!-- wp:post-content {"layout":{"inherit":true}} /-->
  </article>
  <!-- /wp:group -->
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->
