<!-- wp:template-part {"slug":"header","tagName":"header"} /-->

<!-- wp:group {"tagName":"main","layout":{"inherit":true}} -->
<main class="wp-block-group">
  <!-- wp:group {"tagName":"article"} -->
  <article class="wp-block-group">
    <!-- wp:group {"tagName":"header"} -->
    <header class="wp-block-group">
      <!-- wp:post-title {"level":1} /-->
      <!-- wp:post-date /-->
    </header>
    <!-- /wp:group -->

    <!-- wp:post-content /-->

    <!-- wp:post-terms {"term":"category"} /-->
  </article>
  <!-- /wp:group -->
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->
