<!-- wp:template-part {"slug":"header","tagName":"header"} /-->

<!-- wp:group {"tagName":"main","style":{"spacing":{"margin":{"top":"var(--wp--custom--spacing--5-x-large)","right":"0","bottom":"var(--wp--custom--spacing--5-x-large)","left":"0"}}}} -->
<main
  class="wp-block-group"
  style="
    margin-top: var(--wp--custom--spacing--5-x-large);
    margin-right: 0;
    margin-bottom: var(--wp--custom--spacing--5-x-large);
    margin-left: 0;
  "
>
  <!-- wp:group {"tagName":"article"} -->
  <article class="wp-block-group">
    <!-- wp:group {"tagName":"header","layout":{"inherit":true}} -->
    <header class="wp-block-group">
      <!-- wp:post-title {"level":1} /-->

      <!-- wp:group {"layout":{"type":"flex","flexWrap":"nowrap"},"fontSize":"medium"} -->
      <div class="wp-block-group has-medium-font-size">
        <!-- wp:post-date /-->

        <!-- wp:paragraph {"align":"center"} -->
        <p class="has-text-align-center">•</p>
        <!-- /wp:paragraph -->

        <!-- wp:post-terms {"term":"category"} /-->
      </div>
      <!-- /wp:group -->
    </header>
    <!-- /wp:group -->

    <!-- wp:spacer {"height":"var(--wp--custom--spacing--small)"} -->
    <div
      style="height: var(--wp--custom--spacing--small)"
      aria-hidden="true"
      class="wp-block-spacer"
    ></div>
    <!-- /wp:spacer -->

    <!-- wp:post-content {"layout":{"inherit":true}} /-->

    <!-- wp:spacer {"height":"var(--wp--custom--spacing--x-large)"} -->
    <div
      style="height: var(--wp--custom--spacing--x-large)"
      aria-hidden="true"
      class="wp-block-spacer"
    ></div>
    <!-- /wp:spacer -->

    <!-- wp:group {"layout":{"inherit":true},"fontSize":"medium"} -->
    <div class="wp-block-group has-medium-font-size">
      <!-- wp:group -->
      <div class="wp-block-group">
        <!-- wp:post-navigation-link {"type":"previous","label":"⟵ ","showTitle":true,"linkLabel":false} /-->

        <!-- wp:post-navigation-link {"textAlign":"left","label":"⟶ ","showTitle":true,"linkLabel":false} /-->
      </div>
      <!-- /wp:group -->
    </div>
    <!-- /wp:group -->
  </article>
  <!-- /wp:group -->
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->
